<?php ob_start(); ?>
{% set page_info = px.site().get_current_page_info() %}
{% set gnavi_category_list = mytheme.get_gnavi_category_list() %}
{% set local_bros_page_info = mytheme.get_gnavi_category_list() %}
{% set shouldernavi_list = mytheme.get_shouldernavi_list() %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{ page_info.title|e }} | {{ px.get_conf('project.name') }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="{{ page_info.keywords|e }}" />
		<meta name="description" content="{{ page_info.description|e }}" />
		<link rel="stylesheet" href="{{ px.theme().href('/common/css/modules.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ px.path_theme_files('/css/common.css') }}" type="text/css" />
		<script src="{{ px.theme().href('/common/js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
		{{ px.theme().pull_content('head')|raw }}
<script type="text/javascript">
(function(){
	$(window).load(function(){
		var gnavi4ss = $('.theme_gnavi4ss')
			.hide()
			.html( $('.theme_gnavi')[0].outerHTML )
		;
		$(".theme_togglemenu a").bind('click', function(){
			gnavi4ss.slideToggle('fast');
		});
	});
})();
</script>
	</head>
	<body id="page_top">



		<div class="theme_outline">
			<div class="theme_header">
				<div class="theme_rp_s"><div class="theme_togglemenu"><a href="javascript:;">toggle</a></div></div>
				<div class="logo"><a href="{{ px.theme().href('') }}">{{ px.get_conf('project.name') }}</a></div>
				{% if gnavi_category_list|length %}
					<div class="theme_rp_l">
						<div class="theme_gnavi"><ul>
						{% for row_page_id in gnavi_category_list %}
							<li>{{ px.theme().mk_link(row_page_id)|raw }}</li>
						{% endfor %}
						</ul></div><!-- /.theme_gnavi -->
					</div>
					<div class="theme_rp_s">
						<div class="theme_gnavi4ss"></div>
					</div>
				{% endif %}

				<div class="breadcrumb">{{ mytheme.mk_breadcrumb()|raw }}</div>
			</div><!-- /.theme_header -->
			<div class="theme_middle">
				<div class="theme_contcol">
					<h1>{{ t.text2html( page_info.title_h1 )|raw }}</h1>
					<div id="content" class="contents">

{#
↓コンテンツから受け取った
  コンテンツエリアのソースを出力しています。
#}
{{ px.theme().pull_content()|raw }}

					</div><!-- /#content -->

				</div><!-- /.theme_contcol -->
				<div class="theme_navibar">
					<div class="theme_localnavi">
						{% if local_bros_page_info|length %}
							<ul>
							{% for local_page_id in local_bros_page_info %}
								{% set local_page_info = px.site().get_page_info(local_page_id) %}
								<li>{{ px.theme().mk_link(local_page_info.path)|raw }}
									{% if px.site().is_page_in_breadcrumb( local_page_info.id ) %}
										{{ mytheme.mk_html_gnavi( local_page_info.id, 1 )|raw }}
									{% endif %}
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</div><!-- /.theme_localnavi -->
				</div><!-- /.theme_navibar -->
			</div><!-- /.theme_middle -->
			<div class="theme_back_to_page_top"><a href="#page_top" class="up">ページの先頭へ戻る</a></div>
		</div><!-- /.theme_outline -->


		{% if gnavi_category_list|length %}
			<div class="theme_megafooter"><div class="theme_megafooter-outline"><div class="theme_megafooter-inner">
			{% for row_page_id in gnavi_category_list %}
				<div class="theme_megafooter-cell"><div class="theme_megafooter-pad">
				<p>{{ px.theme().mk_link(row_page_id)|raw }}</p>
				{% set children = px.site().get_children(row_page_id) %}
				{% if children|length %}
				<ul>
				{% for child in children %}
					{% set child_page_info = px.site().get_page_info( child ) %}
					<li>{{ px.theme().mk_link(child)|raw }}</li>
				{% endfor %}
				</ul>
				{% endif %}
				</div></div>
			{% endfor %}
			</div></div></div><!-- /.theme_megafooter -->
		{% endif %}


		<div class="theme_footer"><div class="theme_footer-inner">
			{% if shouldernavi_list|length %}
			<div class="theme_footer_shouldernavi">
				<ul>
					{% for row_page_id in shouldernavi_list %}
						<li>{{ px.theme().mk_link( row_page_id, {'class':'icon'} )|raw }}</li>
					{% endfor %}
				</ul>
			</div><!-- /.theme_footer_shouldernavi -->
			{% endif %}
			<div class="breadcrumb">{{ mytheme.mk_breadcrumb()|raw }}</div>
			<div class="theme_footer-copyright">(C){{ px.theme().mk_link('/', px.get_conf('project.name') )|raw }}.</div>
		</div></div><!-- /.theme_footer -->

	</body>
</html>
<?php
	$tmp_class_name = $px->load_pxtheme_class('/custom/funcs.php');
	$mytheme = new $tmp_class_name($this->px);
	print $mytheme->render( ob_get_clean() );
?>